<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @album.discription %>
</p>

<% (0...@album.images.count).each do |image| %>
  <%= image_tag(@album.thumbnail(image)) %> 
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
